<div class="inv">

  <div class="weapons">
    <h3>Weapons</h3>
    <div class="flex-col">
      <div class="group-header">
        <span class="icon">Icon</span>
        <span class="group-name">Name</span>
        <span class="group-qty">Qty</span>
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="equip">Equip/Store</span>
      </div>
      {{#each items as |item|}}
      {{#if item.isWeapon}}
      <div class="weapon item flex-row center align-center" data-item-id="{{item._id}}">
        <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36"
            height="36" /></span>
        <span class="name">{{item.name}}</span>
        <span class="damage">{{item.system.damage}}</span>
        <span class="range">{{item.system.range}}</span>
        <span class="bonus">{{item.system.bonus}}</span>
        <span class="weight">{{item.system.weight}}</span>
                   <div class="button">
              <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
            </div>
        <span class="equip" data-item-id="{{item.id}}">
             {{#unless item.system.isEquipped}}
               <a class="equip-toggle" title='{{localize  "twdu.ui.equip"}}'> <i class="fa-solid fa-box"></i></a>
              {{/unless}}

              {{#if item.system.isEquipped}}
              <a class="equip-toggle" title='{{localize  "twdu.ui.store"}}'><i class="fa-solid fa-box-open"></i></a>  
              {{/if}}
        </span>


      </div>
      {{/if}}
      {{/each}}
    </div>
    <div class="armor">
      <h3>Armor</h3>
      <div class="flex-col">
        <div class="group-header">
          <span class="icon">Icon</span>
          <span class="group-name">Name</span>
          <span class="group-qty">Qty</span>
          <span class="group-weight">Weight</span>
          <span class="bonus">Bonus</span>
          <span class="equip">Equip/Store</span>
        </div>
        {{#each items as |item|}}
        {{#if item.isArmor}}
        <div class="weapon item flex-row center align-center" data-item-id="{{item._id}}">
          <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36"
              height="36" /></span>
          <span class="name">{{item.name}}</span>
          <span class="damage">{{item.system.damage}}</span>
          <span class="range">{{item.system.range}}</span>
          <span class="bonus">{{item.system.bonus}}</span>
          <span class="weight">{{item.system.weight}}</span>
           <div class="button">
              <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
            </div>
          <span class="equip" data-item-id="{{item.id}}">
             {{#unless item.system.isEquipped}}
               <a class="equip-toggle" title='{{localize  "twdu.ui.equip"}}'> <i class="fa-solid fa-box"></i></a>
              {{/unless}}

              {{#if item.system.isEquipped}}
              <a class="equip-toggle" title='{{localize  "twdu.ui.store"}}'><i class="fa-solid fa-box-open"></i></a>  
              {{/if}}
          </span>


        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="gear">
        <h3>Gear</h3>
        <div class="flex-col">
          <div class="group-header">
            <span class="icon">Icon</span>
            <span class="group-name">Name</span>
            <span class="group-qty">Qty</span>
            <span class="group-weight">Weight</span>
            <span class="bonus">Bonus</span>
            <span class="equip">Equip/Store</span>
          </div>
          {{#each items as |item|}}
          {{#if item.isGear}}
          <div class="gear item flex-row center align-center" data-item-id="{{item._id}}">
            <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36"
                height="36" /></span>
            <span class="name">{{item.name}}</span>
            <span class="damage">{{item.system.damage}}</span>
            <span class="range">{{item.system.range}}</span>
            <span class="bonus">{{item.system.bonus}}</span>
            <span class="weight">{{item.system.weight}}</span>
            <span class="equip" data-item-id="{{item.id}}">
                         <div class="button">
              <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
            </div>
              {{#unless item.system.isEquipped}}
              <a class="equip-toggle" title='{{localize  "twdu.ui.equip"}}'> <i class="fa-solid fa-box"></i></a>
              {{/unless}}

              {{#if item.system.isEquipped}}
              <a class="equip-toggle" title='{{localize  "twdu.ui.store"}}'><i class="fa-solid fa-box-open"></i></a>  
              {{/if}}
            </span>


          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>