<div>
  <h3>Main Tab</h3>
  <div class="grid col-60-40">
    <div class="item-group">
      <div class="group-header flex-row w-100">
        <h3>
          {{localize "twdu.equipedGear"}}
        </h3>
        <div>{{localize "twdu.encumbrance"}}
          <span class="value">value</span>
        </div>
      </div>
      <div class="weapons"><h4>Weapons</h4>
        <div class="flex-col">
          <div class="group-header">
            <span class="icon">Icon</span>
            <span class="group-name">Name</span>
            <span class="group-qty">Qty</span>
            <span class="group-weight">Weight</span>
            <span class="bonus">Bonus</span>
            <span class="equip">Equip/Store</span>
          </div>
        </div>
      </div>

      <div class="armor"><h4>Armor</h4>
        <div class="flex-col">
          <div class="group-header">
            <span class="icon">Icon</span>
            <span class="group-name">Name</span>
            <span class="group-qty">Qty</span>
            <span class="group-weight">Weight</span>
            <span class="bonus">Bonus</span>
            <span class="equip">Equip/Store</span>
          </div>
        </div>
      </div>

      <div class="gear"><h4>Gear</h4>
        <div class="flex-col">
          <div class="group-header">
            <span class="icon">Icon</span>
            <span class="group-name">Name</span>
            <span class="group-qty">Qty</span>
            <span class="group-weight">Weight</span>
            <span class="bonus">Bonus</span>
            <span class="equip">Equip/Store</span>
          </div>
        </div>
      </div>
    </div>
    <div class="resources grid">
      {{! Health and Stress }}
      <h2
        for="actor.system.health.value"
        class="resource-label gaItem1"
      >{{localize "twdu.health"}}</h2>
      <div class="resource-content gaItem2">
        <button type="button" class="minus-btn" data-pmbut="minusHealth"><i
            class="fas fa-minus-square fa-xs"
            title="Minus"
          ></i></button>
        <input
          type="text"
          class="maxboxsize minHealth"
          name="actor.system.health.value"
          value="{{actor.system.health.value}}"
          data-dtype="Number"
        />
        <button type="button" class="plus-btn" data-pmbut="plusHealth"><i
            class="fas fa-plus-square fa-xs"
            title="Plus"
          ></i></button>
      </div>
      <h2
        for="actor.system.header.stress.value"
        class="resource-label gaItem3"
        title="{{localize 'twdu.rollStress'}}"
        data-panicroll="{{actor.system.stress.value}}"
        data-mod="{{actor.system.header.stress}}"
        data-label="{{localize 'twdu.STRESS'}}"
      >{{localize "twdu.STRESS"}}</h2>
      <div class="resource-content gaItem4">
        <button type="button" class="minus-btn" data-pmbut="minusStress"><i
            class="fas fa-minus-square fa-xs"
            title="Minus"
          ></i></button>
        <input
          type="text"
          class="maxboxsize minStress"
          name="actor.system.stress.value"
          value="{{actor.system.stress.value}}"
          data-dtype="Number"
        />
        <button type="button" class="plus-btn" data-pmbut="plusStress"><i
            class="fas fa-plus-square fa-xs"
            title="Plus"
          ></i></button>
      </div>

    </div>

  </div>
</div>