<div class="inv">

  <div class="weapons">
    <h3>Weapons</h3>
    <div class="flex-col">
      <div class="group-header">
        <span class="icon">Icon</span>
        <span class="group-name">Name</span>
        <span class="group-qty">Qty</span>
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="equip">Equip/Store</span>
      </div>
      {{#each items as |item|}}
      {{#if item.isWeapon}}
        <div class="weapon item flex-row center align-center" data-item-id="{{item._id}}">
          <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36" height="36" /></span>
          <span class="name">{{item.name}}</span>
          <span class="damage">{{item.system.damage}}</span>
          <span class="range">{{item.system.range}}</span>
          <span class="bonus">{{item.system.bonus}}</span>
          <span class="weight">{{item.system.weight}}</span>
          <span class="equip"><input type="checkbox" name="data.equipped" value="{{item.system.equipped}}" /></span>


        </div>
      {{/if}}
      {{/each}}
  </div>
  <div class="armor">
    <h3>Armor</h3>
        <div class="flex-col">
         <div class="group-header">
          <span class="icon">Icon</span>
          <span class="group-name">Name</span>
          <span class="group-qty">Qty</span>
          <span class="group-weight">Weight</span>
          <span class="bonus">Bonus</span>
          <span class="equip">Equip/Store</span>
         </div>
          {{#each items as |item|}}
      {{#if item.isArmor}}
        <div class="weapon item flex-row center align-center" data-item-id="{{item._id}}">
          <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36" height="36" /></span>
          <span class="name">{{item.name}}</span>
          <span class="damage">{{item.system.damage}}</span>
          <span class="range">{{item.system.range}}</span>
          <span class="bonus">{{item.system.bonus}}</span>
          <span class="weight">{{item.system.weight}}</span>
          <span class="equip"><input type="checkbox" name="data.equipped" value="{{item.system.equipped}}" /></span>


        </div>
      {{/if}}
      {{/each}}
        </div>
  <div class="gear">
    <h3>Gear</h3>
    <div class="flex-col">
      <div class="group-header">
        <span class="icon">Icon</span>
        <span class="group-name">Name</span>
        <span class="group-qty">Qty</span>
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="equip">Equip/Store</span>
      </div>
       {{#each items as |item|}}
      {{#if item.isGear}}
        <div class="weapon item flex-row center align-center" data-item-id="{{item._id}}">
          <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36" height="36" /></span>
          <span class="name">{{item.name}}</span>
          <span class="damage">{{item.system.damage}}</span>
          <span class="range">{{item.system.range}}</span>
          <span class="bonus">{{item.system.bonus}}</span>
          <span class="weight">{{item.system.weight}}</span>
          <span class="equip"><input type="checkbox" name="data.equipped" value="{{item.system.equipped}}" /></span>


        </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>