<div class="inv scrollable" >
  <div class="weapons">
    <h3>Weapons</h3>
    <div class="flex-col">
      <div class="group-header">
        <span class="icon">{{localize "twdu.ui.icon"}}</span>
        <span class="group-name">{{localize "twdu.name"}}</span>
        <span class="group-qty">Qty</span>
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="equip">Equip/Store</span>
      </div>
      {{#each items as |item key|}}
      {{#if item.isWeapon}}
      <div class="weapon item flex-row center align-center" data-item-id="{{item._id}}">
        <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36"
            height="36" /></span>
        <span class="name">{{item.name}}</span>
        <span class="damage">{{item.system.damage}}</span>
        <span class="range">{{item.system.range}}</span>
        <span class="bonus">{{item.system.bonus}}</span>
        <span class="weight">{{item.system.weight}}</span>
        <div class="button">
          <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"><i
              class="fas fa-trash"></i></a>
        </div>
        <span class="equip" data-item-id="{{item.id}}">
          {{#unless item.system.isEquipped}}
          <a class="equip-toggle" title='{{localize  "twdu.ui.equip"}}'> <i class="fa-solid fa-box"></i></a>
          {{/unless}}

          {{#if item.system.isEquipped}}
          <a class="equip-toggle" title='{{localize  "twdu.ui.store"}}'><i class="fa-solid fa-box-open"></i></a>
          {{/if}}
        </span>


      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="armor">
    <h3>Armor</h3>
    <div class="flex-col">
      <div class="group-header">
        <span class="icon">{{localize "twdu.ui.icon"}}</span>
        <span class="group-name">Name</span>
        <span class="group-qty">Qty</span>
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="equip">Equip/Store</span>
      </div>
      {{#each items as |item key|}}
      {{#if item.isArmor}}
      <div class="armor item flex-row center align-center" data-item-id="{{item._id}}">
        <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36"
            height="36" /></span>
        <span class="name">{{item.name}}</span>
        <span class="damage">{{item.system.damage}}</span>
        <span class="range">{{item.system.range}}</span>
        <span class="bonus">{{item.system.bonus}}</span>
        <span class="weight">{{item.system.weight}}</span>
        <div class="button">
          <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"><i
              class="fas fa-trash"></i></a>
        </div>
        <span class="equip" data-item-id="{{item.id}}">
          {{#unless item.system.isEquipped}}
          <a class="equip-toggle" title='{{localize  "twdu.ui.equip"}}'> <i class="fa-solid fa-box"></i></a>
          {{/unless}}

          {{#if item.system.isEquipped}}
          <a class="equip-toggle" title='{{localize  "twdu.ui.store"}}'><i class="fa-solid fa-box-open"></i></a>
          {{/if}}
        </span>


      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="gear">
    <h3>Gear</h3>
    {{!-- TODO localize this stuff --}}
    <h4>Equiped Gear</h4>
    <div class="grid">
      <div class="group-header grid six-col">
        <span class="icon">{{localize "twdu.ui.icon"}}</span>
        <span class="group-name">Name</span>
        {{!-- <span class="group-qty">Qty</span> --}}
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="store">Equip/Store</span>
        <span class="button">Actions</span>
      </div>
      {{#each items as |item key|}}
      {{#if item.isGear }}
      {{#if item.system.isEquipped}}
      <div class="gear item grid six-col" data-item-id="{{item._id}}">
        <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="24"
            height="24" /></span>
        <span class="name">{{item.name}}</span>
        {{!-- <span class="qty">{{item.system.qty}}</span> --}}
        <span class="weight">{{item.system.weight}}</span>
        <span class="bonus">{{item.system.bonus}}</span>
        <span class="store">
          <a class="equip" title='{{localize  "twdu.ui.store"}}' data-item-id="{{item.id}}"><i
              class="fa-solid fa-box-open"></i></a>
        </span>
        <div class="button">
          <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
            data-type="item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
      {{/if}}
      {{/if}}
      {{/each}}
    </div>
    <h4>Stored Gear</h4>
    <div class="grid">
      <div class="group-header grid six-col">
        <span class="icon">{{localize "twdu.ui.icon"}}</span>
        <span class="group-name">Name</span>
        {{!-- <span class="group-qty">Qty</span> --}}
        <span class="group-weight">Weight</span>
        <span class="bonus">Bonus</span>
        <span class="store">Equip/Store</span>
        <span class="button">Actions</span>
      </div>
      {{#each items as |item key|}}
      {{#if item.isGear }}
      {{#unless item.system.isEquipped}}
      <div class="gear item grid six-col" data-item-id="{{item._id}}">
        <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="24"
            height="24" /></span>
        <span class="name">{{item.name}}</span>
        {{!-- <span class="qty">{{item.system.qty}}</span> --}}
        <span class="weight">{{item.system.weight}}</span>
        <span class="bonus">{{item.system.bonus}}</span>
        <span class="store">
          <a class="equip" title='{{localize  "twdu.ui.equip"}}' data-item-id="{{item.id}}"> <i
              class="fa-solid fa-box"></i></a>
        </span>
        <div class="button">
          <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
            data-type="item"><i class="fas fa-trash"></i></a>
        </div>

      </div>
      {{/unless}}
      {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="tiny-items">
        <h3>{{localize "twdu.tinyItems"}}</h3>
        {{#each items as |item|}}
        {{#if item.isTinyItem}}
        <div class="weapon item flex-row center align-center" data-item-id="{{item._id}}">
          <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="36"
              height="36" /></span>
          <span class="name">{{item.name}}</span>
        </div>
        {{/if}}
        {{/each}}
      </div>
</div>