<div class="card-holder flex-row w-100" style="position: relative;">
    <div class="roll-token">
        <img src={{token}} width="45" class="roll-token" />
    </div>
    <div class='chat-flavor'> {{name}} </div>
    <div class='flex-row center group'>
        <img src={{img}} height=50 />
    </div>
    <div class='chat-item-info grid two-col'>
        <div><b>{{localize 'twdu.protection'}} : </b>{{system.protection}}</div>

        <div><b> {{localize 'twdu.agilityPenalty'}} : </b>{{system.agility}}</div>

    </div>
</div>