<div class="card-holder flex-row w-100" style="position: relative;">
    <div class="roll-token">
        <img src={{token}} width="45" class="roll-token" />
    </div>
    <div class="flex-col w-100">
        <div class='chat-flavor text-center header'> {{name}} </div>
        <div class='flex-row center group pi-1 mi-1'>
            <img src={{img}} height=50 />
        </div>
        <div class='chat-item-info grid pi-1 w-100'>
            <div class="grid col-70-30 group subheader middle">
                <div class="justify-self-start pi-1">{{localize 'twdu.protection'}}</div>
                <div class="border-left justify-self-center pi-1"> {{system.protection}}</div>
            </div>
            <div class="grid col-70-30 group subheader middle">
                <div class="justify-self-start pi-1 nowrap">
                    {{localize 'twdu.agilityPenalty'}}
                </div>
                <div class="border-left justify-self-center pi-1">
                    {{system.agility}}
                </div>

            </div>

        </div>
    </div>
</div>