<div class="card-holder flex-row w-100" style="position: relative;">
  <div class="roll-token m-0 p-1 header group">
    {{#if roll.options.token}}
    <img src="{{roll.options.token}}" width="45" class="roll-token" />
    {{/if}}
    {{#unless roll.options.token}}
    <img src="systems/twdu/assets/images/unkown_roller.svg" width="45" class="roll-token" />
    {{/unless}}
  </div>
  {{#unless (eq roll.options.formula undefined)}}
  <div class="chat-card grow" data-owner-id="{{roll.options.owner}}">
    <div class="card-content borderimg">
      {{#if (gt roll.panic 0)}}
      <div class="walker center walker header group p-1">{{localize 'twdu.ui.messedUp'}}!</div>
      {{/if}}
      <div class="dice-roll">
        {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
        {{/if}}
        <div class="dice-result">
          <div class="dice-formula">{{formula}}</div>
          {{{tooltip}}}

          {{#if (gt success 0)}}
          <h4 class="dice-total success">{{localize "twdu.CHAT.SUCCESS"}} : {{success}}</h4>
          {{/if}}
          {{#if (eq success 0)}}
          <h4 class="dice-total failure"> {{localize "twdu.CHAT.SUCCESS"}} : {{success}}</h4>
          {{/if}}

        </div>
      </div>
      {{!-- Extra info added for Year Zero rolls --}}
      {{#if showInfos}}
      {{{infos}}}
      {{/if}}
      {{!-- Push button --}}
      {{#unless (eq roll.options.actorType 'npc')}}
      {{#unless (gt roll.panic 0)}}
      {{#if pushable}}
      <div class="dice-buttons" data-owner-id="{{roll.options.owner}}">
        <button class="dice-button push" data-action="push" data-owner-id="{{roll.options.owner}}">{{localize
          "twdu.push"}}</button>
      </div>
      {{/if}}
      {{/unless}}
      {{/unless}}
    </div>
  </div>
  {{/unless}}
  {{#if (eq roll.options.formula undefined)}}
  <div class="chat-card grow p-1" data-owner-id="{{roll.options.owner}}">
    <div class="dice-roll">

      <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        <div class="dice-tooltip expanded">

          {{#unless (eq this.type '')}}
          <section class="tooltip-part base-roll">
            <div class="dice">
              <header class="part-header flexrow">
                <span class="part-formula">{{this.formula}}</span>
                {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                <span class="part-total">{{this.total}}</span>
              </header>
              <ol class="dice-rolls">
                {{#each roll.dice as |dice|}}
                <li class="roll"> {{dice.values}} </li>
                {{/each}}

              </ol>
            </div>
          </section>
          {{/unless}}

        </div>
      </div>
    </div>

  </div>
  {{/if}}
</div>