<div class='item-desc'>
    <b>{{localize 'twdu.effect'}}</b>: {{localize (TWDUconcat "twdu." system.effect.type)}} &plus;{{system.effect.value}} <br>
    <b>{{localize 'twdu.finishDate'}}:</b> {{system.finishDate}} <br>
    <b>{{localize 'twdu.requirements'}}:</b> 
    <ul>
        <li>
            <b>{{localize 'twdu.workforce'}}:</b> {{system.requirements.workforce}} 
        </li>
        <li>
            <b>{{localize 'twdu.tech'}}:</b> {{system.requirements.tech}} 
        </li>
        <li>
            <b>{{localize 'twdu.items'}}:</b> {{system.requirements.items}} 
        </li>
    </ul>
    <b>{{localize 'twdu.description'}}:</b>
    {{system.description}} <br>
    
</div>
