<form class="{{cssClass}}" autocomplete="off">
    <h1>Challenge sheet</h1>

    <div class="grid col-70-30">
        <div class="main group">
            <div class="flex-col">
                <div class="grid three-col subheader border-top border-bottom ">
                    <div class="issue--top  span-2 flex-row space-between">
                        <h2 class=" border-left  t m-0 p-1">{{localize 'twdu.issues'}} <a title="{{localize "
                                twdu.ui.add"}}" class="add-item pi-1" data-type="issue">
                                &#43;</a></h2>

                        <div class="source middle">{{localize 'twdu.source'}}</div>
                    </div>
                    <div class=" m-0 p-1 border-right">&nbsp;</div>


                </div>
                <div class="issue-list scrollable max-h-150p  border-left">
                    {{#each items as |item key|}}
                    {{#if item.isIssue}}
                    <div class="issue item grid three-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                        <div class="name show-details flex-row space-between span-2">
                            <div class="name">{{item.name}} </div>
                            <div class="source">{{item.system.source}}</div>
                        </div>
                        <div class="button justify-self-end">
                            <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                    class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>

            <div class="flex-col">
                <div class="grid three-col subheader border-top border-bottom">

                    <div class="issue--top  span-2 flex-row space-between">
                        <h2 class=" border-left  t m-0 p-1">{{localize 'twdu.rumors'}} <a title="{{localize "
                                twdu.ui.add"}}" class="add-item pi-1" data-type="rumor">
                                &#43;</a></h2>

                        <div class="source middle">{{localize 'twdu.clock'}}</div>
                    </div>
                    <div class=" m-0 p-1 border-right">&nbsp;</div>
                </div>
                <div class="issue-list scrollable max-h-150p  border-left">
                    {{#each items as |item key|}}
                    {{#if item.isRumor}}
                    <div class="issue item grid three-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                        <div class="name show-details flex-row space-between">
                            <div class="name">{{item.name}} </div>
                            </div>
                            <div class="clock">
                            <div class="clock item-clock" >{{item.system.clock}}</div>
                             <div class="clock test-clock" >test the clock</div>
                        </div>
                        <div class="button justify-self-end">
                            <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                    class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

            </div>

            <div class="flex-col">
                <div class="grid subheader border-top border-bottom">

                    <h2 class=" border-left  t m-0 p-1">{{localize 'twdu.challenges'}} <a title="{{localize "
                            twdu.ui.add"}}" class="add-item pi-1" data-type="endgame">
                            &#43;</a></h2>

                    <div class=" m-0 p-1 border-right">&nbsp;</div>
                </div>

            </div>

            <div class="flex-col">
                <div class="grid three-col subheader border-top border-bottom">

                    <div class="issue--top  span-2 flex-row space-between">
                        <h2 class=" border-left  t m-0 p-1">{{localize 'twdu.endgame'}} <a title="{{localize "
                                twdu.ui.add"}}" class="add-item pi-1" data-type="endgame">
                                &#43;</a></h2>

                        <div class="source middle">{{localize 'twdu.clock'}}</div>
                    </div>
                    <div class=" m-0 p-1 border-right">&nbsp;</div>
                </div>

            </div>
            <div class="flex-col">
                <div class="grid three-col subheader border-top border-bottom">

                    <div class="issue--top  span-2 flex-row space-between">
                        <h2 class=" border-left  t m-0 p-1">{{localize 'twdu.factions'}} <a title="{{localize "
                                twdu.ui.add"}}" class="add-item pi-1" data-type="factions">
                                &#43;</a></h2>

                        <div class="source middle">{{localize 'twdu.clock'}}</div>
                    </div>
                    <div class=" m-0 p-1 border-right">&nbsp;</div>
                </div>

            </div>

        </div>
        <div class="side group">
            <div class="subsubheader border-bottom">NPCs</div>
            <div class="grid three-col group">
                <div class="border-right">{{localize 'twdu.name'}}</div>
                <div class="pi-1">{{localize 'twdu.fate'}}</div>
                <div>&nbsp;</div>
            </div>
            {{#each actor.system.survivors.npcs as |survivor|}}
            {{# if (eq type 'npc')}}
            <div class="survivors grid three-col border-bottom">
                <div class="name item border-right" data-actor-id="{{id}}">
                    {{parseActor id 'name'}}
                </div>
                <div class="border-right">
                    {{log "debug logging" level="debug"}}
                    {{log 'type' type 'index' @index 'id' id 'system npc item' survivor }}
                    <input name="survivor.fate" value='{{survivor.fate}}' />
                </div>
                <div class="buttons justify-self-end middle">

                    <a class="item-control actor-edit" data-actor-id="{{id}}" title='{{localize "twdu.ui.edit"}}'><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control actor-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{@key}}"
                        data-actor-id="{{id}}" data-type="npc"><i class="fas fa-trash"></i></a>

                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>

    </div>

</form>