<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="actor-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}" />
    <div class="header-fields" style="width: 50%;">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'twdu.name'}}" /></h1>
      <div class="resources grid grid-actor">
        {{!-- Health and Stress --}}
        <h2 for="actor.system.health.value" class="resource-label gaItem1">{{ localize 'twdu.health'}}</h2>
        <div class="resource-content gaItem2">
          <button type="button" class="minus-btn" data-pmbut="minusHealth"><i class="fas fa-minus-square fa-xs" title="Minus"></i></button>
          <input type="text" class="maxboxsize minHealth" name="actor.system.header.health.value" value="{{actor.system.header.health.value}}" data-dtype="Number" />
          <button type="button" class="plus-btn" data-pmbut="plusHealth"><i class="fas fa-plus-square fa-xs" title="Plus"></i></button>
        </div>
        <h2 for="actor.system.header.stress.value" class="resource-label gaItem3" title="{{localize 'TWD.RollPanic'}}" data-panicroll="{{actor.system.header.stress.value}}" data-mod="{{actor.system.header.stress.mod}}" data-label="{{localize 'TWD.Stress'}}">{{localize 'TWD.Stress'}}</h2>
        <div class="resource-content gaItem4">
          <button type="button" class="minus-btn" data-pmbut="minusStress"><i class="fas fa-minus-square fa-xs" title="Minus"></i></button>
          <input type="text" class="maxboxsize minStress" name="actor.system.header.stress.value" value="{{actor.system.header.stress.value}}" data-dtype="Number" />
          <button type="button" class="plus-btn" data-pmbut="plusStress"><i class="fas fa-plus-square fa-xs" title="Plus"></i></button>
        </div>
        {{!-- Attributes --}}
        <div class="abilities grid four-col">
          <div class="header span-4">
            <h2>{{localize 'twdu.headerAttributes'}}</h2>
          </div>
           {{#each actor.system.attributes as |attr key|}}
           <div class="att-group">
            <div class="attribute">
            <h3>{{localize (TWDUconcat 'twdu.' attr.label )}}</h3>
            <input type="text" name="system.attributes.{{attr.key}}.value" value="{{attr.value}}" data-dtype="Number" />
            </div>

            {{#skillBlock key ../actor.system.skills}}
            {{/skillBlock}}

            
            </div>

            {{/each}}

            </div>

        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">{{localize 'TWD.General'}}</a>
    <a class="item" data-tab="inventory">{{localize 'TWD.Inventory'}}</a>
    <a class="item" data-tab="description">{{localize 'TWD.Description'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!--Skills Tab --}}

    {{!-- Biography Tab --}}
    <div class="tab biog-full " data-group="primary" data-tab="description">{{editor actor.system.notes target="system.notes" button=true owner=owner editable=true}}</div>
    {{!-- Owned Items Tab --}}
    <!-- INVENTORY -->
    <div class="tab inventory" data-group="primary" data-tab="inventory"></div>


    <div class="tab general" data-group="primary" data-tab="general">
      <div class="grid-genPage">

        

       
      </div>
    </div>
    </div>
  </section>
</form>