<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="actor-header flex-row gap-sm">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}"
      style="width: 175px; height: 175px;" />
    <div class="grid two-col">
      <h1 class="input name span-2"><input name="name" type="text" value="{{actor.name}}"
          placeholder="{{localize 'twdu.name'}}" /></h1>


      <div class="flex-row label"><label>{{localize 'twdu.archetype'}}</label></><input name="system.archetype" type="text"
          value="{{system.archetype}}" placeholder="{{localize 'twdu.archetype'}}" />

      <h2 class="flex-row"><label>{{localize 'twdu.description'}}</label><textarea
          name="system.description">{{actor.system.description}}</textarea> </h2>

      <div class="flex-col scrollable">
        <h2>{{localize 'twdu.issues'}} <a title="{{localize " twdu.ui.add"}}" class="add-item" data-type="issue">
            &#43;</a></h2>
        <div class="issue-list">
          {{#each system.issues as |issue index|}}
          <div class="issue flex-row"><input name="system.issues.{{index}}" type="text" value="{{issue}}"
              placeholder="{{localize 'twdu.issues'}}" /> <a class="item-control item-delete"
              title='{{localize  "twdu.ui.delete"}}' data-key="{{index}}" data-type="issue"><i
                class="fas fa-trash"></i></a>
          </div>
          {{/each}}
        </div>
      </div>





      <h3><label>{{localize 'twdu.pcAnchor'}}</label><input name="system.pcAnchor" type="text"
          value="{{system.pcAnchor}}" placeholder="{{localize 'twdu.pcAnchor'}}" /> </h3>
      <h3><label>{{localize 'twdu.npcAnchor'}}</label><input name="system.npcAnchor" type="text"
          value="{{system.npcAnchor}}" placeholder="{{localize 'twdu.npcAnchor'}}" /> </h3>
      <h3><label>{{localize 'twdu.drive'}}</label><input name="system.drive" type="text" value="{{system.drive}}"
          placeholder="{{localize 'twdu.drive'}}" />

        {{#unless system.driveUsed}}
        <img class="toggle-boolean" data-path="driveUsed" src="systems/twdu/assets/images/box_not_checked.png"
          height="18px" width="18px">
        {{/unless}}

        {{#if system.driveUsed}}
        <img class="toggle-boolean" data-path="driveUsed" src="systems/twdu/assets/images/box_checked.png" height="18px"
          width="18px">
        {{/if}}

      </h3>

    </div>

  </header>
  {{!-- Attributes and Skills --}}
  <div class="abilities grid four-col">
    <div class="header span-4">
      <h2>{{localize 'twdu.headerAttributes'}}</h2>
    </div>

    {{!-- Str and Skills --}}
    <div class="attr-group group" id="str">
      <div class="attribute flex-row rollable" data-key="attribute" data-attribute="str" data-test="twdu.STRENGTH">
        <b class="header">{{localize 'twdu.STRENGTH'}}</b>
        <input type="text" name="system.attributes.str.value" value="{{actor.system.attributes.str.value}}"
          data-dtype="Number" />
      </div>
      {{!-- skillblock --}}
      <div class="skill-group flex-col">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasStrength}}
        <div class="skill flex-row align-center rollable" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">
          <b>{{localize (TWDUconcat "twdu." skill.label)}}</b>
          <input type="text" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Agility and skills --}}
    <div class="attr-group group" id="agl">
      <div class="attribute flex-row rollable" data-key="attribute"  data-attribute="agl" data-test="twdu.AGILITY">
        <b class="header">{{localize 'twdu.AGILITY'}}</b>
        <input type="text" name="system.attributes.agl.value" value="{{actor.system.attributes.agl.value}}"
          data-dtype="Number" />
      </div>
      {{!-- skillblock --}}
      <div class="skill-group flex-col">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasAgility}}
        <div class="skill flex-row align-center rollable" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">
          <b>{{localize (TWDUconcat "twdu." skill.label)}}</b>
          <input type="text" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Wits and SKills --}}
    <div class="attr-group group" id="wit">
      <div class="attribute flex-row rollable" data-key="attribute" data-attribute="wit" data-test="twdu.WITS">
        <b class="header">{{localize 'twdu.WITS'}}</b>
        <input type="text" name="system.attributes.wit.value" value="{{actor.system.attributes.wit.value}}"
          data-dtype="Number" />
      </div>
      {{!-- skillblock --}}
      <div class="skill-group flex-col">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasWits}}
        <div class="skill flex-row align-center rollable" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">
          <b>{{localize (TWDUconcat "twdu." skill.label)}}</b>
          <input type="text" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Empathy and Skills --}}
    <div class="attr-group group" id="emp">
      <div class="attribute flex-row rollable" data-key="attribute" data-attribute="emp" data-test="twdu.EMPATHY">
        <b class="header">{{localize 'twdu.EMPATHY'}}</b>
        <input type="text" name="system.attributes.emp.value" value="{{actor.system.attributes.emp.value}}"
          data-dtype="Number" />
      </div>
      {{!-- skillblock --}}
      <div class="skill-group flex-col">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasEmpathy}}
        <div class="skill flex-row align-center rollable" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">
          <b>{{localize (TWDUconcat "twdu." skill.label)}}</b>
          <input type="text" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize 'twdu.general'}}</a>
    <a class="item" data-tab="inventory">{{localize 'twdu.inventory'}}</a>
    <a class="item" data-tab="talents">{{localize 'twdu.talents'}}</a>
    <a class="item" data-tab="bioNotes">{{localize 'twdu.bioNotes'}}</a>
  </nav>


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="main">
      {{> systems/twdu/templates/sheets/parts/character-main.hbs}}
    </div>

    {{!-- Talents Tab --}}
    <div class="tab" data-group="primary" data-tab="talents">
      {{> systems/twdu/templates/sheets/parts/character-talents.hbs}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab" data-group="primary" data-tab="bioNotes">
      {{> systems/twdu/templates/sheets/parts/character-notes.hbs}}
    </div>

    <!-- INVENTORY -->
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> systems/twdu/templates/sheets/parts/character-inventory.hbs}}
    </div>

  </section>
</form>