<form class="{{cssClass}} flex-col color-brown-700" autocomplete="off">
  <div class="bg-offwhite flex-row flex-start">
    <div class="dl-border w-fc h-100">
      <img
        class="w-100p border-none br-5"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col flex-wrap magin-b-sm">
        <h1 class="center">{{localize "twdu.criticalInjury"}}  <input class="light" name="name" type="text" value="{{item.name}}" /></h1>
       
      </div>
      <div class="grid grid-4col-fr center gap-sm h-100">
        

        <div class="grid-span-2 grid-align-end">
          <b>{{localize "twdu.fatal"}}</b>
          <input
            class="light"
            name="system.fatal"
            type="text"
            value="{{data.system.fatal}}"
          />
        </div>
        <div class="grid-span-2 grid-align-end">
          <b>{{localize "twdu.timeLimit"}}</b>
          <input
            class="light"
            name="system.timeLimit"
            type="text"
            value="{{data.system.timeLimit}}"
          />
        </div>

        <div class="grid-span-4 grid-align-end">
          <b>{{localize "twdu.penalty"}}</b>
          <input class="light" name="system.effect" type="text" value="{{data.system.effect}}" />
        </div>
      </div>
    </div>
  </div>
</form>