<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="flex-row flex-start">
    <div class="header w-150p group">
      <img class="border-none" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>

    <div class="w-100 padding-sm">
      <div class="flex-col group">
        <h1 class="center">{{localize "twdu.gear"}}

          <input class="light" name="name" type="text" value="{{item.name}}" />
        </h1>
      </div>
      {{!-- Sheet Body --}}
      <section class="sheet-body">
        <div class="grid two-col">
          <div class="span-2 grid-align-end w-100 group">
            <h2 class="subheader">{{localize "twdu.description"}}</h2>
            <div class="full-size">
              {{editor gearNotesHTML target="system.description" button=true owner=owner editable=editable }}
            </div>
          </div>
          <div class="flex-row justify middle group">
            <h2 class="subsubheader m-0 pi-1">{{localize "twdu.skill"}}</h2>
            <select name="system.skill">
              {{#select data.system.skill}}
              {{#each config.skills as |skill|}}
              <option value="{{skill}}" {{#if (eq skill ../data.system.skill)}}selected{{/if}}>{{localize skill}}
              </option>
              {{/each}}
              {{/select}}
            </select>
          </div>

          <div class="flex-row middle group">
            <h2 class="subsubheader m-0 pi-2">{{localize "twdu.bonus"}}</h2>
            <input class="light" name="system.bonus" type="text" value="{{data.system.bonus}}" />
          </div>

          <div class="flex-row span-2 middle group">
            <h2 class="subsubheader m-0 pi-2">{{localize "twdu.encSlots"}}</h2>
            <div class="weight-select">
              <select name="system.weight" id="weight" data-dtype="Number">
                {{#select data.system.weight}}
                <option value="0">None</option>
                <option value="0.5">½</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                {{/select}}
              </select>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</form>