<form class="{{cssClass}} haven" autocomplete="off">
    <div class="sheet container w-100 " style="margin:-2px;">

        {{!-- Header --}}
        <header class="actor-header flex-row">
            <div class="img-container" style="width: 175px; ">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}" />
            </div>
            <div class="character-info w-100">
                <h1 class="input name w-100 group pi-1"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'twdu.name'}}" /></h1>

                <div class="grid two-col">

                    <div class="flex-col">
                        <div class="capacity group flex-row m-0 p-1 center">
                            <b for="capacity" class="pi-1">{{localize 'twdu.capacity'}}</b>
                            <input name="system.capacity.value" type="text" value="{{actor.system.capacity.value}}"
                                placeholder="0" data-dtype="Number" />
                        </div>
                        <div class="defense group flex-row m-0 p-1 center">
                            <b class="pi-1">{{localize 'twdu.defense'}}</b>
                            <input name="system.defense.value" type="text" value="{{actor.system.defense.value}}"
                                placeholder="0" data-dtype="Number" />
                        </div>

                        {{!-- Description --}}
                        <div class="flex-col">
                            <h2 class="subheader border-top border-bottom border-left t m-0 p-1">{{localize
                                'twdu.description'}}
                            </h2>
                            <div class="description scrollable max-h-150p border-left flex-col">
                                <div class="ovedrall grid col-40-60"> <b class="pi-1 text-align-right">{{localize
                                        'twdu.overall'}}:</b> <input name="system.description.overall" type="text"
                                        value="{{actor.system.description.overall}}"
                                        placeholder="{{localize 'twdu.overall'}}" /></div>
                                <div class="structures grid col-40-60"> <b class="pi-1 text-align-right">{{localize
                                        'twdu.structures'}}:</b> <input name="system.description.structures" type="text"
                                        value="{{actor.system.description.structures}}"
                                        placeholder="{{localize 'twdu.structures'}}" /></div>
                                <div class="surroundings grid col-40-60"><b class="pi-1 text-align-right"> {{localize
                                        'twdu.surroundings'}}:</b> <input name="system.description.surroundings"
                                        type="text" value="{{actor.system.description.surroundings}}"
                                        placeholder="{{localize 'twdu.surroundings'}}" /></div>
                                <div class="food grid col-40-60"> <b class="pi-1 text-align-right">{{localize
                                        'twdu.foodSources'}}:</b> <input name="system.description.food" type="text"
                                        value="{{actor.system.description.food}}"
                                        placeholder="{{localize 'twdu.foodSources'}}" /></div>
                            </div>
                        </div>
                    </div>



                    {{!-- issues --}}
                    <div class="flex-col">
                        <h2 class="subheader border-top border-bottom border-left t m-0 p-1">{{localize 'twdu.issues'}}
                            <a title="{{localize " twdu.ui.add"}}" class="add-item" data-type="issue">
                                &#43;</a>
                        </h2>

                        <div class="issue-list scrollable max-h-180p border-left">
                            {{#each items as |item key|}}

                            {{#if item.isIssue}}
                            {{#unless item.system.isSecret}}
                            <div class="issue item grid two-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                                <div class="name show-details">
                                    {{item.name}}
                                </div>
                                <div class="button justify-self-end">
                                    {{#if (eq ../user.role 4)}}
                                    <a class='toggle-boolean' title="{{localize "twdu.isNotSecret"}}"
                                        data-path='isSecret' data-item-id="{{item._id}}"><i
                                            class='fa-solid fa-eye'></i></a>
                                    {{/if}}
                                    <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                            class="fas fa-comment"></i></a>
                                    <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                            class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                        data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            {{/unless}}
                            {{#if item.system.isSecret}}
                            {{#if (eq ../user.role 4)}}
                            <div class="issue item grid two-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                                <div class="name show-details">
                                    {{item.name}}
                                </div>
                                <div class="button justify-self-end">
                                    <a class='toggle-boolean' title="{{localize "twdu.isSecret"}}" data-path='isSecret'
                                        data-item-id="{{item._id}}"><i class='fa-solid fa-eye-slash'></i></a>
                                    <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                            class="fas fa-comment"></i></a>
                                    <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                            class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                        data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>

                </div>
            </div>
        </header>



        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item grow" data-tab="main">{{localize 'twdu.general'}}</a>
            <a class="item grow" data-tab="bioNotes">{{localize 'twdu.bioNotes'}}</a>
        </nav>

        <section class="sheet-body">
            {{!-- Main Tab --}}
            <div class="tab" data-group="primary" data-tab="main">
                <div class="grid three-col h-100">
                    {{!-- Survivors --}}
                    <div class="container border-left border-bottom flex-col">
                        <h3 class="subheader border-bottom m-0 p-1">{{localize 'twdu.survivors'}} &nbsp;

                            {{actor.system.survivors.population}} / {{maxpop}}</h3>
                        <div class="subsubheader border-bottom">Player Characters</div>
                        <div class="scrollable">
                            {{#each actor.system.survivors.npcs as |survivor key|}}
                            {{# if (eq type 'character')}}
                            <div class="survivors grid col-90-10 border-bottom">

                                <div class="name item flexrow" data-actor-id="{{id}}">

                                    {{#if ../portrait}}
                                    <div class="icon border max-w-50p">
                                        <img src="{{parseActor id 'img'}}" width="50" />
                                    </div>
                                    {{/if}}
                                    <div class="survivor-name  flexcol w-100">
                                        <span class="text-left subheader border-bottom">
                                            {{parseActor id 'name'}}
                                        </span>
                                        <span class="middle">
                                            {{parseActor id 'archetype'}}
                                        </span>
                                    </div>

                                </div>
                                <div class="buttons justify-self-end middle">

                                    <a class="item-control actor-edit" data-actor-id="{{id}}"
                                        title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
                                    <a class="item-control actor-delete" title='{{localize  "twdu.ui.delete"}}'
                                        data-key="{{key}}" data-actor-id="{{id}}" data-type="actor"><i
                                            class="fas fa-trash"></i></a>

                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                            <div class="subsubheader border-bottom">NPCs</div>
                            {{#each actor.system.survivors.npcs as |survivor key|}}
                            {{# if (eq type 'npc')}}
                            <div class="survivors grid col-90-10 border-bottom">
                                <div class="name item flexrow" data-actor-id="{{id}}">
                                    {{#if ../portrait}}
                                    <div class="icon border max-w-50p">
                                        <img src="{{parseActor id 'img'}}" width="50" />
                                    </div>
                                    {{/if}}
                                    <div class="survivor-name  flexcol w-100">
                                        <span class="text-left subheader border-bottom">
                                            {{parseActor id 'name'}}
                                        </span>
                                        <span class="middle">
                                            {{parseActor id 'background'}}
                                        </span>
                                    </div>

                                </div>
                                <div class="buttons justify-self-end middle">

                                    <a class="item-control actor-edit" data-actor-id="{{id}}"
                                        title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
                                    <a class="item-control actor-delete" title='{{localize  "twdu.ui.delete"}}'
                                        data-key="{{key}}" data-actor-id="{{id}}" data-type="npc"><i
                                            class="fas fa-trash"></i></a>

                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    {{!-- Projects --}}
                    <div class="current-projects border-left border-bottom flex-col">
                        <h3 class="subheader border-bottom m-0 p-1">{{localize "twdu.projects"}}
                            <a title="{{localize " twdu.ui.add"}}" class="add-item" data-type="project">
                                &#43;</a>
                        </h3>
                        <div class="scrollable">
                            {{#each items as |item key|}}
                            {{#if item.isProject}}
                            <div class="project item grid two-col border-bottom" data-item-id="{{item._id}}">
                                <div class="name show-details">
                                    {{item.name}}
                                </div>
                                <div class="button justify-self-end">
                                    <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                            class="fas fa-comment"></i></a>
                                    <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                            class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                        data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>

                    </div>

                    <div class="storage border-left border-right border-bottom">
                        {{!-- Stored stuff --}}
                        <div class="gear flex-col ">
                            <h3 class="subheader  border-bottom m-0 p-1">{{localize
                                'twdu.storedGear'}}
                                <a title="{{localize " twdu.ui.add"}}" class="add-item" data-type="gear">
                                    &#43;</a>
                            </h3>
                            <div class="container">
                                {{#each items as |item key|}}
                                {{#if item.isGear}}
                                <div class="gear item grid two-col pi-2 border-bottom middle draggable" draggable="true"
                                    data-item-id="{{item._id}}">
                                    <div class="name show-details">
                                        {{item.name}}
                                    </div>
                                    <div class="button justify-self-end">
                                        <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                                class="fas fa-comment"></i></a>
                                        <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                                class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                            data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>

                        <div class="weapons flex-col">
                            <h3 class="subheader border-top border-bottom m-0 p-1">{{localize
                                'twdu.storedWeapons'}}
                                <a title="{{localize " twdu.ui.add"}}" class="add-item" data-type="weapon">
                                    &#43;</a>
                            </h3>
                            <div class="container">
                                {{#each items as |item key|}}
                                {{#if item.isWeapon}}
                                <div class="issue item grid two-col pi-2 border-bottom middle draggable"
                                    draggable="true" data-item-id="{{item._id}}">
                                    <div class="name show-details">
                                        {{item.name}}
                                    </div>
                                    <div class="button justify-self-end">
                                        <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                                class="fas fa-comment"></i></a>
                                        <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                                class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                            data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>

                        <div class="armor flex-col">
                            <h3 class="subheader border-top border-bottom m-0 p-1">{{localize
                                'twdu.storedArmor'}}
                                <a title="{{localize " twdu.ui.add"}}" class="add-item" data-type="armor">
                                    &#43;</a>
                            </h3>
                            <div class="container">
                                {{#each items as |item key|}}
                                {{#if item.isArmor}}
                                <div class="issue item grid two-col pi-2 border-bottom middle draggable"
                                    draggable="true" data-item-id="{{item._id}}">
                                    <div class="name show-details">
                                        {{item.name}}
                                    </div>
                                    <div class="button justify-self-end">
                                        <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                                class="fas fa-comment"></i></a>
                                        <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                                class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                            data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="vehicles flex-col">
                            <h3 class="subheader border-top border-bottom m-0 p-1">{{localize
                                'twdu.storedVehicles'}}
                                <a title="{{localize " twdu.ui.add"}}" class="add-item" data-type="vehicle">
                                    &#43;</a>
                            </h3>
                            <div class="container">
                                {{#each items as |item key|}}
                                {{#if item.isVehicle}}
                                <div class="issue item grid two-col pi-2 border-bottom middle draggable"
                                    draggable="true" data-item-id="{{item._id}}">
                                    <div class="name show-details">
                                        {{item.name}}
                                    </div>
                                    <div class="button justify-self-end">
                                        <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                                class="fas fa-comment"></i></a>
                                        <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                                class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                            data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{!-- Notes Tab --}}
            <div class="tab " data-group="primary" data-tab="bioNotes">
                <div class="container flex-row group">
                    <div class="flex-col w-100">
                        <div class="full-size">
                            {{editor havenNotes target="system.notes.value" button=true owner=owner editable=editable
                            engine="prosemirror" collaborate=false }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>