<form class="{{cssClass}} group" autocomplete="off" style="margin: -4px;">
  <div class="sheet-container" style="margin:-2px;">
    <header class="actor-header flex-row">

      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}"
        style="width: 150px; max-height: 175px; padding:5px;" />

      <div class="character-info w-100 border-left border-bottom">
        <h1 class="input name w-100 group pi-1"><input name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'twdu.name'}}" /></h1>
        <div class="grid col-70-30">
          <div class="flex-col max-h-110p">
            <div class="background m-0 p-1 flex-row center">
              <b for="background" class="pi-1">{{localize 'twdu.background'}}:</b>
              <input name="system.backgorund" id="archetype" type="text" value="{{system.background}}"
                placeholder="{{localize 'twdu.background'}}" />
            </div>

            <div class="description p-1 flex-col">
              <b>{{localize 'twdu.description'}}:</b>
              <textarea name="system.description" style="resize: none;">{{actor.system.description}}</textarea>
            </div>
          </div>
          <div class="flex-col border-left max-h-150p">
            <h2 class="subheader border-bottom t m-0 p-1">{{localize 'twdu.issues'}} <a title="{{localize "
                twdu.ui.add"}}" class="add-item" data-type="issue">
                &#43;</a></h2>
            <div class="issue-list scrollable max-h-150p  border-left">
              {{#each items as |item key|}}
              {{#if item.isIssue}}
              <div class="issue item grid two-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                <div class="name show-details">
                  {{item.name}}
                </div>
                <div class="button justify-self-end">
                  <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
                  <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
                    data-type="item"><i class="fas fa-trash"></i></a>
                </div>
              </div>
              {{/if}}
              {{/each}}
            </div>

          </div>
        </div>
      </div>

    </header>

    <div class="abilities grid four-col mb-2">
      <div class="header span-4 group middle">
        <h2 class="m-0 pi-1">{{localize 'twdu.skills'}}</h2>
      </div>

      {{!-- STR skillblock --}}
      <div class="flex-col border-left border-right pi-1">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasStrength}}
        <div class="skill flex-col align-center  justify pi-1">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize
            (TWDUconcat "twdu." skill.label)}}</div>

          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.base">{{localize
              'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{checked level 'base'
                }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.trained">{{localize
              'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.expert">{{localize
              'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" {{checked
                level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.master">{{localize
              'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      {{!--Agility skillblock --}}
      <div class=" flex-col pi-1 border-right">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasAgility}}
        <div class="skill flex-col align-center  justify pi-1">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize (TWDUconcat
            "twdu." skill.label)}}</div>

          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.base">{{localize
              'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{checked level 'base'}} />
              <span class="radio"></span>
              </label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.trained">{{localize
              'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.expert">{{localize
              'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" {{checked
                level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.master">{{localize
              'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      {{!-- wits skillblock --}}
      <div class=" flex-col pi-1">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasWits}}
        <div class="skill flex-col align-center justify ">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize (TWDUconcat
            "twdu." skill.label)}}</div>
          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle border-bottom radio-group" for="{{key}}.base">{{localize
              'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{checked
                level 'base' }} /><span class="radio"></span></label>

            <label class="fflex-row pi-2 justify middle border-bottom radio-group" for="{{key}}.trained">{{localize
              'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.expert">{{localize
              'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" {{checked
                level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle  border-bottom radio-group" for="{{key}}.master">{{localize
              'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      {{!-- Empathy skillblock --}}
      <div class=" flex-col border-left border-right pi-1">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasEmpathy}}
        <div class="skill flex-col align-center justify ">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize (TWDUconcat "twdu." skill.label)}}</div>
          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group" for="{{key}}">{{localize
              'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{checked
                level 'base' }} /> <span class="radio"></span> </label>

            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.trained">{{localize 'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.expert">{{localize 'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" 
              {{checked level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.master">{{localize 'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="big-stuff">
    <div class="header group middle">
      <h2 class="m-0 pi-1">{{localize 'twdu.inventory'}}</h2>
    </div>
    <div class="weapons">
      <h2 class="subheader border-bottom border-left t m-0 p-1">Weapons<a title="{{localize " twdu.ui.add"}}"
          class="add-item" data-type="weapon">
          &#43;</a></h2>
      <div class="group-header grid five-col justify pi-1 pt-1">
        <span class="icon">{{localize "twdu.ui.icon"}}</span>
        <span class="group-name">{{localize "twdu.name"}}</span>
        <span class="group-weight">{{localize 'twdu.weight'}}</span>
        <span class="bonus">{{localize 'twdu.skill'}}</span>
        <span class="actions">{{localize 'twdu.actions'}}</span>
      </div>
      {{#each items as |item key|}}
      {{#if item.isWeapon}}

      <div class="weapon item grid five-col justify center align-center border-bottom" data-item-id="{{item._id}}">
        <span class="icon rollable justify-self-start" data-key="weapon" data-weapon="{{item.name}}"
          data-item-id="{{item._id}}" data-test="{{item.name}}" data-skill="{{item.system.skill}}">
          <img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="25" height="25" /></span>
        <span class="name justify-self-start show-details">{{item.name}}</span>
        <span class="weight justify-self-start">{{item.system.weight}}</span>
        <span class="skill justify-self-start">{{localize item.system.skill}}</span>
        <div class="button justify-self-start">
          <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
            data-type="item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>

    <div class="armor">
      <h2 class="subheader border-bottom border-left t m-0 p-1">Armor <a title="{{localize " twdu.ui.add"}}"
          class="add-item" data-type="armor">
          &#43;</a></h2>
      <div class="group-header grid five-col justify pi-1 pt-1">
        <span class="icon">{{localize "twdu.ui.icon"}}</span>
        <span class="group-name">{{localize "twdu.name"}}</span>
        <span class="group-protection">{{localize 'twdu.protection'}}</span>
        <span class="group-penalty">{{localize 'twdu.penalty'}}</span>
        <span class="actions">{{localize 'twdu.actions'}}</span>
      </div>
      {{#each items as |item key|}}
      {{#if item.isArmor}}
      <div class="armor item grid five-col justify align-center border-bottom" data-item-id="{{item._id}}">
        <span class="icon rollable"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="25"
            height="25" /></span>
        <span class="name show-details">{{item.name}}</span>
        <span class="damage">{{item.system.protection}}</span>
        <span class="agiltity">{{item.system.agility}}</span>

        <div class="button">
          <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-item-id="{{item._id}}"
            data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
      {{/if}}
      {{/each}}



    </div>

    <div class="gear">
      <h2 class="subheader border-bottom border-left t m-0 p-1">{{localize 'twdu.gear'}}<a title="{{localize "
          twdu.ui.add"}}" class="add-item" data-type="gear">
          &#43;</a></h2>
      <div class="group-header grid five-col justify pi-2 pt-1">
        <span class="icon">{{localize "twdu.ui.icon"}}</span>
        <span class="group-name">{{localize "twdu.name"}}</span>
        <span class="group-weight">{{localize 'twdu.weight'}}</span>
        <span class="bonus">{{localize 'twdu.bonus'}}</span>
        <span class="button">{{localize 'twdu.actions'}}</span>
      </div>
      {{#each items as |item key|}}
      {{#if item.isGear }}
      <div class="gear item grid five-col border-bottom middle" data-item-id="{{item._id}}">
        <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="24"
            height="24" /></span>
        <span class="name show-details">{{item.name}}</span>
        <span class="weight">{{item.system.weight}}</span>
        <span class="bonus">{{item.system.bonus}}</span>
        <div class="button">
          <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
            data-type="item"><i class="fas fa-trash"></i></a>
        </div>
      </div>

      {{/if}}
      {{/each}}



    </div>
  </div>

  </div>
</form>