<form class="{{cssClass}} group" autocomplete="off" style="margin: -4px;">
  <div class="sheet-container w-100 " style="margin:-2px;">
    <header class="actor-header flex-row">
      <div class="img-container" style="width: 150px; ">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}" />
      </div>

      <div class="character-info w-100 border-left border-bottom">
        <div class="flex-row">
          <h1 class="input name w-100 group pi-1"><input name="name" type="text" value="{{actor.name}}"
              placeholder="{{localize 'twdu.name'}}" /></h1>
          <div class="health border-bottom border-right">
            <h2 class="subheader m-0 p-1 border-bottom">{{localize "twdu.health"}}</h2>
            <div class="health-select p-2">
              <select name="system.health.value" id="health">
                {{selectOptions config.healthStates selected=system.health.value localize=true}}

              </select>
            </div>
          </div>
        </div>


        <div class="grid col-40-60">
          <div class="flex-col max-h-110p">
            <div class="background m-0 p-1 flex-row center">
              <b for="background" class="pi-1">{{localize 'twdu.background'}}:</b>
              <input name="system.background" id="archetype" type="text" value="{{actor.system.background}}"
                placeholder="{{localize 'twdu.background'}}" />
            </div>

            <div class="description p-1 flex-col">
              <b>{{localize 'twdu.description'}}:</b>
              <textarea name="system.description" style="resize: none;">{{actor.system.description}}</textarea>
            </div>
          </div>
          <div class="flex-col border-left max-h-150p">
            <h2 class="subheader border-bottom t m-0 p-1">{{localize 'twdu.issues'}} <a title="{{localize "
                twdu.ui.add"}}" class="add-item" data-type="issue">
                &#43;</a></h2>
            <div class="issue-list scrollable max-h-150p  border-left">
              {{#each items as |item key|}}
              {{#if item.isIssue}}
              {{#unless item.system.isSecret}}
              <div class="issue item grid two-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                <div class="name show-details">
                  {{item.name}}
                </div>
                <div class="button justify-self-end">
                  {{#if (eq ../user.role 4)}}
                  <a class='toggle-boolean' title="{{localize "twdu.isNotSecret"}}" data-path='isSecret'
                    data-item-id="{{item._id}}"><i class='fa-solid fa-eye'></i></a>
                  {{/if}}
                  <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
                  <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
                    data-type="item"><i class="fas fa-trash"></i></a>
                </div>
              </div>
              {{/unless}}
              {{#if item.system.isSecret}}
              {{#if (eq ../user.role 4)}}
              <div class="issue item grid two-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                <div class="name show-details">
                  {{item.name}}
                </div>
                <div class="button justify-self-end">
                  <a class='toggle-boolean' title="{{localize "twdu.isSecret"}}" data-path='isSecret'
                    data-item-id="{{item._id}}"><i class='fa-solid fa-eye-slash'></i></a>
                  <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
                  <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
                    data-type="item"><i class="fas fa-trash"></i></a>
                </div>
              </div>
              {{/if}}
              {{/if}}
              {{/if}}
              {{/each}}
            </div>

          </div>
        </div>
      </div>

    </header>

    <div class="abilities grid four-col mb-2">
      <div class="header span-4 group middle">
        <h2 class="m-0 pi-1">{{localize 'twdu.skills'}}</h2>
      </div>

      {{!-- STR skillblock --}}
      <div class="flex-col border-left border-right pi-1">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasStrength}}
        <div class="skill flex-col align-center  justify pi-1">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize
            (TWDUconcat "twdu." skill.label)}}</div>

          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.base">{{localize
              'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{TWDU_checked
                level 'base' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.trained">{{localize
              'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{TWDU_checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.expert">{{localize
              'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" {{TWDU_checked
                level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.master">{{localize
              'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{TWDU_checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      {{!--Agility skillblock --}}
      <div class=" flex-col pi-1 border-right">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasAgility}}
        <div class="skill flex-col align-center  justify pi-1">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize (TWDUconcat
            "twdu." skill.label)}}</div>

          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.base">{{localize
              'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{TWDU_checked
                level 'base' }} />
              <span class="radio"></span>
            </label>

            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.trained">{{localize
              'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{TWDU_checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.expert">{{localize
              'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" {{TWDU_checked
                level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.master">{{localize
              'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{TWDU_checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      {{!-- wits skillblock --}}
      <div class=" flex-col pi-1">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasWits}}
        <div class="skill flex-col align-center justify ">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize (TWDUconcat
            "twdu." skill.label)}}</div>
          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.base">{{localize
              'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{TWDU_checked
                level 'base' }} /><span class="radio"></span></label>

            <label class="fflex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.trained">{{localize
              'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{TWDU_checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.expert">{{localize
              'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" {{TWDU_checked
                level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right  border-bottom radio-group"
              for="{{key}}.master">{{localize
              'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{TWDU_checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      {{!-- Empathy skillblock --}}
      <div class=" flex-col border-left border-right pi-1">
        {{#each system.skills as |skill key|}}
        {{#if skill.hasEmpathy}}
        <div class="skill flex-col align-center justify ">
          <div class="rollable bold w-100 border-bottom subheader" data-key="skill" data-skill="{{key}}"
            data-test="twdu.{{key}}">{{localize (TWDUconcat "twdu." skill.label)}}</div>
          <div class="grid two-col w-100">
            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.base">{{localize 'twdu.base'}}
              <input id="{{key}}.base" type="radio" name="system.skills.{{key}}.level" value="base" {{TWDU_checked
                level 'base' }} /> <span class="radio"></span> </label>

            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.trained">{{localize 'twdu.trained'}}
              <input id="{{key}}.trained" type="radio" name="system.skills.{{key}}.level" value="trained" {{TWDU_checked
                level 'trained' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.expert">{{localize 'twdu.expert'}}
              <input id="{{key}}.expert" type="radio" name="system.skills.{{key}}.level" value="expert" {{TWDU_checked
                level 'expert' }} /><span class="radio"></span></label>

            <label class="flex-row pi-2 justify middle border-right border-bottom radio-group"
              for="{{key}}.master">{{localize 'twdu.master'}}
              <input id="{{key}}.master" type="radio" name="system.skills.{{key}}.level" value="master" {{TWDU_checked
                level 'master' }} /><span class="radio"></span></label>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item grow" data-tab="main">{{localize 'twdu.inventory'}}</a>
    <a class="item grow" data-tab="bioNotes">{{localize 'twdu.bioNotes'}}</a>
  </nav>

  <section class="sheet-body">

    {{!-- Inventory --}}
    <div class="tab" data-group="primary" data-tab="main">
      <div class="big-stuff">

        <div class="weapons">
          <h2 class="subheader border-bottom border-left t m-0 p-1">Weapons<a title="{{localize " twdu.ui.add"}}"
              class="add-item" data-type="weapon">
              &#43;</a></h2>

          <div class="group-header grid seven-col justify pi-1 pt-1">
            <span class="icon justify-self-start">{{localize "twdu.ui.icon"}}</span>
            <span class="group-name">{{localize 'twdu.name'}}</span>
            <span class="bonus justify-self-center">{{localize 'twdu.bonus'}}</span>
            <span class="damage justify-self-center">{{localize 'twdu.damage'}}</span>
            <span class="group-weight justify-self-center">{{localize 'twdu.weight'}}</span>
            <span class="group-skill justify-self-center">{{localize 'twdu.skill'}}</span>
            <span class="eq-store justify-self-end">{{localize 'twdu.actions'}}</span>

          </div>

          {{#each items as |item key|}}
          {{#if item.isWeapon}}

          <div class="weapon item grid seven-col justify center align-center border-bottom pi-1 draggable"
            draggable="true" data-item-id="{{item._id}}">
            <div class="icon rollable justify-self-start" data-key="weapon" data-weapon="{{item.name}}"
              data-item-id="{{item._id}}" data-test="{{item.name}}" data-skill="{{item.system.skill}}">
              <img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="25" height="25" />
            </div>
            <div class="name justify-self-start show-details">{{item.name}}</div>
            <div class="name justify-self-center show-details">{{item.system.bonus}}</div>
            <div class="damage justify-self-center">{{item.system.damage}}</div>
            <div class="weight justify-self-center">{{item.system.weight}}</div>
            <div class="skill justify-self-center text-center">{{localize item.system.skill}}</div>
            <div class="button justify-self-end">
              <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
                data-type="item"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>

        <div class="armor">
          <h2 class="subheader border-bottom border-left t m-0 p-1">Armor <a title="{{localize " twdu.ui.add"}}"
              class="add-item" data-type="armor">
              &#43;</a></h2>
          <div class="group-header grid five-col justify pi-1 pt-1">
            <span class="icon">{{localize "twdu.ui.icon"}}</span>
            <span class="group-name">{{localize "twdu.name"}}</span>
            <span class="group-protection">{{localize 'twdu.protection'}}</span>
            <span class="group-penalty">{{localize 'twdu.penalty'}}</span>
            <span class="actions">{{localize 'twdu.actions'}}</span>
          </div>
          {{#each items as |item key|}}
          {{#if item.isArmor}}
          <div class="armor item grid five-col justify align-center border-bottom draggable" draggable="true"
            data-item-id="{{item._id}}">
            <span class="icon rollable" data-item-type="armor"><img src="{{item.img}}" alt="{{item.name}}"
                title="{{item.name}}" width="25" height="25" /></span>
            <span class="name show-details">{{item.name}}</span>
            <span class="damage">{{item.system.protection}}</span>
            <span class="agiltity">{{item.system.agility}}</span>

            <div class="button">
              <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-item-id="{{item._id}}"
                data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          {{/if}}
          {{/each}}



        </div>

        <div class="gear">
          <h2 class="subheader border-bottom border-left t m-0 p-1">{{localize 'twdu.gear'}}<a title="{{localize "
              twdu.ui.add"}}" class="add-item" data-type="gear">
              &#43;</a></h2>
          <div class="group-header grid five-col justify pi-2 pt-1">
            <span class="icon">{{localize "twdu.ui.icon"}}</span>
            <span class="group-name">{{localize "twdu.name"}}</span>
            <span class="group-weight">{{localize 'twdu.weight'}}</span>
            <span class="bonus">{{localize 'twdu.bonus'}}</span>
            <span class="button">{{localize 'twdu.actions'}}</span>
          </div>
          {{#each items as |item key|}}
          {{#if item.isGear }}
          <div class="gear item grid five-col border-bottom middle draggable" draggable="true"
            data-item-id="{{item._id}}">
            <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="24"
                height="24" /></span>
            <span class="name show-details">{{item.name}}</span>
            <span class="weight">{{item.system.weight}}</span>
            <span class="bonus">{{item.system.bonus}}</span>
            <div class="button">
              <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{key}}"
                data-type="item"><i class="fas fa-trash"></i></a>
            </div>
          </div>

          {{/if}}
          {{/each}}



        </div>

        <div class="vehicles">
          <h2 class=" subheader m-0 p-1 border-bottom ">{{localize "twdu.vehicles"}} <a title="{{localize "
              twdu.ui.add"}}" class="add-item" data-type="vehicle">
              &#43;</a></h2>

          <div class="group-header grid seven-col justify pi-2 pt-1">
            <span class="icon">{{localize "twdu.ui.icon"}}</span>
            <span class="group-name">{{localize "twdu.name"}}</span>
            <span class="group-weight">{{localize 'twdu.hull'}}</span>
            <span class="bonus">{{localize 'twdu.armor'}}</span>
            <span class="bonus">{{localize 'twdu.maneuverability'}}</span>
            <span class="bonus">{{localize 'twdu.damage'}}</span>
            <span class="button">{{localize 'twdu.actions'}}</span>
          </div>
          {{#each items as |item|}}
          {{#if item.isVehicle}}
          <div class="vehicle item grid seven-col border-bottom middle draggable" draggable="true"
            data-item-id="{{item._id}}">
            <span class="icon"><img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" width="25"
                height="25" /></span>
            <span class="name  show-details justify-self-start">{{item.name}}</span>
            <span class="hull">{{item.system.hull}}</span>
            <span class="armor">{{item.system.armor}}</span>
            <span class="weight">{{item.system.maneuverability}}</span>
            <span class="bonus">{{item.system.damage}}</span>
            <div class="button pi-1 grow text-right">
              <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}' data-key="{{@key}}"
                data-type="item"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

    {{!-- Notes --}}
    <div class="tab" data-group="primary" data-tab="bioNotes">
      {{> systems/twdu/templates/sheets/parts/character-notes.hbs}}
    </div>
  </section>

  </div>
</form>