<form class="{{cssClass}} group" autocomplete="off" style="margin: -4px;">
    <div class="sheet-container" style="margin:-2px;">
        <header class="actor-header flex-row">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}"
        style="width: 175px; max-height: 250px; padding:5px;" />
     <div class="character-info w-100">
        <h1 class="input name w-100 group pi-1"><input name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'twdu.name'}}" /></h1>

     </div>

        </header>
       Name
    background
    description
    issues1

    rollable skills with radio buttons to choose base, trained, expert, master

    gear and Weapons

</div>
</form>