<form class="{{cssClass}} group" autocomplete="off" style="margin: -4px;">
    <div class="sheet-container" style="margin:-2px;">
        <header class="actor-header flex-row">

            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}"
                style="width: 175px; max-height: 250px; padding:5px;" />

            <div class="character-info w-100">
                <h1 class="input name w-100 group pi-1"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'twdu.name'}}" /></h1>


                <div class="flex-col">
                    <h2 class="subheader border-top border-bottom border-left t m-0 p-1">{{localize 'twdu.issues'}} <a
                            title="{{localize " twdu.ui.add"}}" class="add-item" data-type="issue">
                            &#43;</a></h2>
                    <div class="issue-list scrollable max-h-150p  border-left">
                        {{#each items as |item key|}}
                        {{#if item.isIssue}}
                        <div class="issue item grid two-col pi-2 border-bottom middle" data-item-id="{{item._id}}">
                            <div class="name show-details">
                                {{item.name}}
                            </div>
                            <div class="button justify-self-end">
                                <a class="item-control to-chat" title='{{localize "twdu.ui.chat"}}'><i
                                        class="fas fa-comment"></i></a>
                                <a class="item-control item-edit" title='{{localize "twdu.ui.edit"}}'><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title='{{localize  "twdu.ui.delete"}}'
                                    data-key="{{key}}" data-type="item"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>

                <div class="archetype m-0 p-1 border-left flex-row center">
                    <b for="archetype" class="pi-1">{{localize 'twdu.background'}}:</b>
                    <input name="system.backgorund" id="archetype" type="text" value="{{system.background}}"
                        placeholder="{{localize 'twdu.background'}}" />
                </div>

                <div class="description border-right border-left border-bottom p-1 flex-col">
                    <b>{{localize 'twdu.description'}}:</b>
                    <textarea name="system.description" style="resize: none;">{{actor.system.description}}</textarea>
                </div>

            </div>

        </header>

        <div class="abilities grid four-col">
            <div class="header span-4 group middle">
                <h2 class="m-0 pi-1">{{localize 'twdu.headerAttributes'}}</h2>
            </div>

    {{!-- STR skillblock --}}
        <div class="skill-group flex-col">
          {{#each system.skills as |skill key|}}
          {{#if skill.hasStrength}}
          <div class="skill flex-row align-center group justify pi-1">
            <b class="rollable pi-1" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">{{localize
              (TWDUconcat "twdu." skill.label)}}</b>
              <label for="{{key}}.base">{{localize 'twdu.base'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="base" {{checked level 'base'}}/></label>
            
              <label for="{{key}}.trained">{{localize 'twdu.trained'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked level 'trained'}}/></label>

            <label for="{{key}}.expert">{{localize 'twdu.expert'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="expert" {{checked level 'expert'}}/></label>

            <label for="{{key}}.master">{{localize 'twdu.master'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="master" {{checked level 'master'}}/></label>
          </div>
          {{/if}}
          {{/each}}
        </div>

{{!-- skillblock --}}
        <div class="skill-group flex-col">
          {{#each system.skills as |skill key|}}
          {{#if skill.hasAgility}}
          <div class="skill flex-row align-center group justify pi-1">
            <b class="rollable" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">{{localize (TWDUconcat
              "twdu." skill.label)}}</b>
            <label for="{{key}}.base">{{localize 'twdu.base'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="base" {{checked level 'base'}}/></label>
            
              <label for="{{key}}.trained">{{localize 'twdu.trained'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked level 'trained'}}/></label>

            <label for="{{key}}.expert">{{localize 'twdu.expert'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="expert" {{checked level 'expert'}}/></label>

            <label for="{{key}}.master">{{localize 'twdu.master'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="master" {{checked level 'master'}}/></label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- skillblock --}}
        <div class="skill-group flex-col">
          {{#each system.skills as |skill key|}}
          {{#if skill.hasWits}}
          <div class="skill flex-row align-center group justify pi-1">
            <b class="rollable" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">{{localize (TWDUconcat
              "twdu." skill.label)}}</b>
            <label for="{{key}}.base">{{localize 'twdu.base'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="base" {{checked level 'base'}}/></label>
            
              <label for="{{key}}.trained">{{localize 'twdu.trained'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked level 'trained'}}/></label>

            <label for="{{key}}.expert">{{localize 'twdu.expert'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="expert" {{checked level 'expert'}}/></label>

            <label for="{{key}}.master">{{localize 'twdu.master'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="master" {{checked level 'master'}}/></label>
          </div>
          {{/if}}
          {{/each}}
        </div>

         {{!-- skillblock --}}
        <div class="skill-group flex-col">
          {{#each system.skills as |skill key|}}
          {{#if skill.hasEmpathy}}
          <div class="skill flex-row align-center group justify pi-1">
            <b class="rollable" data-key="skill" data-skill="{{key}}" data-test="twdu.{{key}}">{{localize (TWDUconcat
              "twdu." skill.label)}}</b>
            <label for="{{key}}.base">{{localize 'twdu.base'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="base" {{checked level 'base'}}/></label>
            
              <label for="{{key}}.trained">{{localize 'twdu.trained'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="trained" {{checked level 'trained'}}/></label>

            <label for="{{key}}.expert">{{localize 'twdu.expert'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="expert" {{checked level 'expert'}}/></label>

            <label for="{{key}}.master">{{localize 'twdu.master'}}
            <input id="{{key}}" type="radio" name="system.skills.{{key}}.level" value="master" {{checked level 'master'}}/></label>
          </div>
          {{/if}}
          {{/each}}
        </div>

      </div>


        </div>



        rollable skills with radio buttons to choose base, trained, expert

        gear and Weapons

    </div>
</form>