<form class="{{cssClass}}" autocomplete="off">
    <header class="item-header sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" class="item-img" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="weapon">
        {{localize "twdu.damage"}} : <input name="system.damage" type="text" value="{{data.system.damage}}" placeholder="0" data-dtype="Number" />
        {{!-- Range should be set up as a select and used only if rangedCombat is the chosen skill  --}}
        {{#if (eq data.system.skill "twdu.rangedCombat")}}
        {{localize "twdu.range"}} : <input name="system.range" type="text" value="{{data.system.range}}" placeholder="close" />
        {{/if}}
        
        <div class="grid-align-end">
              <h3>{{localize "twdu.encSlots"}}</h3>
              <div class="weight-select">
                <select name="system.weight" id="weight" data-dtype="Number">
                  {{#select data.system.weight}}
                  <option value="0">None</option>
                  <option value="0.5">½</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  {{/select}}
                </select>
              </div>
            </div>
      
        <h3>{{localize "twdu.skill"}}: &nbsp;</h3>
          <select name="system.skill">
            {{#select data.system.skill}}
              {{#each config.combatSkills as |skill|}}
                <option value="{{skill}}" {{#if (eq skill ../data.system.skill)}}selected{{/if}}>{{localize skill}}</option>
              {{/each}}
            {{/select}}
          </select>
    </div>  
</form>