<form class="{{cssClass}}" autocomplete="off">

  <div class="flex-row">
    <div class="header sheet-header group w-150p">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="weapon w-100">
      <h1 class="group m-0 pi-1"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

      <div class="item group grid two-col">
        <div class="damage grid three-col middle border-right">
          <h2 class="m-0 pi-1 subheader middle">
            {{localize "twdu.damage"}}:</h2>
          <input name="system.damage" type="text" value="{{data.system.damage}}" placeholder="0" data-dtype="Number" />


          {{!-- A check box for explosive here --}}
          <div class="explosive flex-row justify-self-end" title="{{localize 'twdu.isExplosiveTooltip'}}">
          <b>{{localize "twdu.isExplosive"}}</b>
          {{#unless item.system.isExplosive}}
          <img class="toggle-boolean" data-path="isExplosive" src="systems/twdu/assets/images/box_not_checked.png"
            height="18px" width="18px">
          {{/unless}}

          {{#if item.system.isExplosive}}
          <img class="toggle-boolean" data-path="isExplosive" src="systems/twdu/assets/images/box_checked.png"
            height="18px" width="18px">
          {{/if}}
        </div>
         
        </div>

        <div class="bonus flex-row middle border-right">
          <h2 class="m-0 pi-1 subheader middle">
            {{localize "twdu.bonus"}}:</h2>
          <input name="system.bonus" type="text" value="{{data.system.bonus}}" placeholder="0" data-dtype="Number" />
        </div>

        
        </div>

        <div class="item  grid three-col middle">

        <div class="encumbrance flex-row group">
          <h2 class="m-0 pi-1 subheader middle">{{localize "twdu.encSlots"}}:</h2>
          <div class="weight-select">
             <select name="system.weight" id="weight" data-dtype="Number">
              {{selectOptions config.weights selected=data.system.weight localize=true}}
             </select>
           
          </div>
        </div>
        <div class="skill flex-row group">
          <h2 class="m-0 pi-1 subheader middle">{{localize "twdu.skill"}}: </h2>
          <select name="system.skill">
            {{selectOptions config.combatSkills selected=data.system.skill localize=true}}
          </select>
        </div>
        <div class="range-select flex-row group">
          {{!-- Range should be set up as a select --}}
          {{#if (eq data.system.skill "rangedCombat")}}
          <h2 class="m-0 pi-1 subheader middle">
            {{localize "twdu.range"}}:
          </h2>
          <select name="system.range">
            {{selectOptions config.ranges selected=data.system.range localize=true}}
          </select>
          {{/if}}
        </div>
         <div class="span-3 group">
          <b>{{localize "twdu.description"}}</b>
          <textarea name="system.description">{{data.system.description}}</textarea>
        </div>
      </div>
    </div>

  </div>
</form>